@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.c-bg-lightOrange {
	background-color: #ddcaaa;
}
.c-bg-lighterOrange {
	background-color: #ddcaaa49;
}
.c-bg-image-main {
	background-image: url(assets/bg-main.png);
	min-height: 400px;
	padding: 10px;
}
